@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --card: #ffffff;
  --card-foreground: #0a0a0a;
  --popover: #ffffff;
  --popover-foreground: #0a0a0a;
  --primary: #222222;
  --primary-foreground: #ffffff;
  --secondary: #f4f4f4;
  --secondary-foreground: #222222;
  --muted: #f4f4f4;
  --muted-foreground: #666666;
  --accent: #f4f4f4;
  --accent-foreground: #222222;
  --destructive: #ef4444;
  --destructive-foreground: #ef4444;
  --border: #e2e2e2;
  --input: #e2e2e2;
  --ring: #999999;
  --chart-1: #e76e50;
  --chart-2: #2a9d8f;
  --chart-3: #264653;
  --chart-4: #e9c46a;
  --chart-5: #f4a261;
  --radius: 0.625rem;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #0a0a0a;
  --sidebar-primary: #222222;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f4f4f4;
  --sidebar-accent-foreground: #222222;
  --sidebar-border: #e2e2e2;
  --sidebar-ring: #999999;
}

.dark {
  --background: #0a0a0a;
  --foreground: #ffffff;
  --card: #0a0a0a;
  --card-foreground: #ffffff;
  --popover: #0a0a0a;
  --popover-foreground: #ffffff;
  --primary: #ffffff;
  --primary-foreground: #222222;
  --secondary: #272727;
  --secondary-foreground: #ffffff;
  --muted: #272727;
  --muted-foreground: #999999;
  --accent: #272727;
  --accent-foreground: #ffffff;
  --destructive: #842020;
  --destructive-foreground: #fb7185;
  --border: #272727;
  --input: #272727;
  --ring: #525252;
  --chart-1: #2662d9;
  --chart-2: #2eb88a;
  --chart-3: #e88d39;
  --chart-4: #af57db;
  --chart-5: #e23670;
  --sidebar: #222222;
  --sidebar-foreground: #ffffff;
  --sidebar-primary: #2662d9;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #272727;
  --sidebar-accent-foreground: #ffffff;
  --sidebar-border: #272727;
  --sidebar-ring: #525252;
}

@theme inline {
  --font-sans: 'Geist', 'Geist Fallback';
  --font-mono: 'Geist Mono', 'Geist Mono Fallback';
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
